html body {
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  background-color: #F8F9FA;
  margin: auto;
}

a {
  color: #00B7FF;
}
h1 {
  font-family: 'Raleway', sans-serif;
}
p {
  font-family: 'Roboto', sans-serif;
  font-size: calc(10px + 0.4vw);
}

.nav-custom {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: bold;
}
.nav-link {
  vertical-align: middle;
}

.github {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  font-weight: bold;
  margin: auto;
}

.center-search {
  margin-top: 20vh;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  max-width: 700px;
  text-align: center;
  padding: 15px;
}

.h1-dark {
  font-family: 'Raleway', sans-serif;
  color: #364454;
}
.h1-light {
  font-family: 'Raleway', sans-serif;
  color: #A0AAB5;
}
