extends layout

block content
  h1(class='h1-dark')= title
  h1(class='h1-light') For You
  br
  div(class='input-group input-group-large')
    input(id='albumName', name='albumName', class='form-control', type='text', placeholder='Type an album that inspires you' oninput='dbSearch()')
    div(class='input-group-append')
      button(type='button', class='btn btn-outline-secondary') Search
  br
  form#albumForm(action='/cluster', method='post')
    input#albumId(name='albumId', type='hidden')
    input#clusterId(name='clusterId', type='hidden')
  #placeholder


  script(src='https://underscorejs.org/underscore-min.js')
  script(src='https://www.gstatic.com/firebasejs/5.6.0/firebase.js')
  script(src='https://www.gstatic.com/firebasejs/5.6.0/firebase-app.js')
  script(src='https://www.gstatic.com/firebasejs/5.6.0/firebase-database.js')


  script.
    var config = {
      apiKey: "AIzaSyC--zIcAWQRO1sGqQewA6qVAXNfSv0YUuA",
      authDomain: "spotify-album-recommender.firebaseapp.com",
      databaseURL: "https://spotify-album-recommender.firebaseio.com",
      projectId: "spotify-album-recommender",
      storageBucket: "spotify-album-recommender.appspot.com",
      messagingSenderId: "509103060745"
    };
    firebase.initializeApp(config);
    var database = firebase.database();

    var dbSearch = _.debounce(searchFr, 500);

    function clickAlbum(albumId, clusterId) {
      document.getElementById('albumId').value = albumId;
      document.getElementById('clusterId').value = clusterId;
      document.getElementById('albumForm').submit();
    }

    function searchFr() {
      dbSearch.cancel();
      document.getElementById('placeholder').innerHTML = '';
      let keyword = document.getElementById('albumName').value;
      if(keyword.length == 0) return;
      endKey = keyword.slice(0, keyword.length - 1) + String.fromCharCode(keyword.slice(keyword.length - 1).charCodeAt(0) + 1);
      database.ref('albums').orderByKey().startAt(keyword).endAt(endKey).limitToFirst(10).once('value').then(function(snapshot) {
        if(!snapshot.hasChildren()) document.getElementById('placeholder').innerHTML += '<p>Not found</p>';
        snapshot.forEach(function(childSnapshot) {
          var albumId = childSnapshot.key;
          var albumName = childSnapshot.key.split('_')[0];
          var clusterId = childSnapshot.val()['cluster_id'];
          var artistName = childSnapshot.val()['artist'];
          document.getElementById('placeholder').innerHTML += '<p><a href="#" onclick="clickAlbum(' + "'" + albumId + "'" + ', ' + clusterId + ')">' + albumName + ' By: ' + artistName + '</a></p>';
        });
      });
    }
