doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm',crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway|Roboto|Montserrat')
  nav(class='navbar sticky-top navbar-expand-lg navbar-light bg-light nav-custom')
    button(class='navbar-toggler', type='button', data-toggle='collapse', data-target='navbarToggle')
      span(class='navbar-toggler-icon')
    div(class='collapse navbar-collapse', id='navbarToggle')
      ul(class='navbar-nav mt-2 mt-lg-0')
        li(class='nav-item')
          a(class='nav-link active', href='#') HOME
        li(class='nav-item')
          a(class='nav-link', href='#') ABOUT
      ul(class='navbar-nav ml-auto mt-2 mt-lg-0')
          li(class='nav-item')
            button(class='github btn btn-outline-dark btn-sm', href='#') GITHUB
  body
    div(class='center-search')
      block content
